body {
    font-family: $UTMAvo;
    font-size: vw(14px);
    padding: 0;
    font-weight: 600;

    @media (max-width: 767px) {
        font-size: 12px;
    }
}

a {
    outline: none;

    &:hover,
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

xmp {
    line-height: normal;
    margin: 0;
    text-align: left;
}

figure {
    margin: 0;
}

img {
    width: 100%;
}

button {
    outline: none;
    box-shadow: none;

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.mb {
    display: none;

    @media (max-width: 767px) {
        display: block !important;
    }
}

.pc {
    @media (max-width: 767px) {
        display: none !important;
    }
}
.modal {
    padding: 0 !important;
}

.main_wapper {
    @media (max-width: 767px) {
        overflow: hidden;
    }
}
.main_content {
}
.loading {
    background: #00000057;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    @include transition(all 0.3s ease);
    @include flex_center;
    // @include transform(translate(-50%, -50%));

    &.active {
        z-index: 9999;
        visibility: visible;
        opacity: 1;
    }

    .loader {
        border: 5px solid #f3f3f3;
        border-radius: 50%;
        border-top: 5px solid #173c67;
        width: 50px;
        height: 50px;
        -webkit-animation: spin 2s linear infinite;
        /* Safari */
        animation: spin 2s linear infinite;
    }
}

.slick-arrow {
    z-index: 1;

    img {
        width: 100%;
    }

    &::before {
        display: none;
    }
}

.message {
    @include transform(translate(-50%, -50%));
    @include transition(all 0.3s ease);
    position: fixed;
    top: 50%;
    left: 50%;
    width: 31.25vw;
    padding: 1.04167vw;
    background-color: #0a3344;
    opacity: 0;
    z-index: -1;
    visibility: hidden;

    @media (max-width: 767px) {
        max-width: 400px;
        width: 60vw;
        padding: 3vw 2vw;
    }

    &.active {
        opacity: 1;
        z-index: 9998;
        visibility: visible;
    }

    &__content {
    }

    &__title {
        font-size: 1.65vw;
        color: #fff;
        text-align: center;
        padding-top: 7px;
        padding-bottom: 5px;

        @media (max-width: 767px) {
            font-size: 4vw;
        }
    }

    .btn-submit {
        margin-top: 1vw;
        border: none;
        background: #e3a371;
        padding: 5px 45px;
        padding-bottom: 2px;
        font-size: 20px;
        color: #fff;
        border-radius: 25px;
    }
}

// form
.form {
    text-align: left;
    &__action {
        @media (max-width: 767px) {
            .block8__button,
            .popup__button {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

.form-group {
    margin-bottom: vw(15px);
    @media (max-width: 767px) {
        margin-bottom: 10px;
    }
    label {
        color: #88431c;
        padding-left: vw(8px);
        font-size: vw(16px);
        @media (max-width: 767px) {
            padding-left: 10px;
            font-size: 14px;
        }
    }
}

.form-control {
    background-color: #f9f9fa;
    color: #444648;
    border: none;
    height: vw(50px);
    border-radius: vw(6px);
    padding-left: vw(10px);
    border: vw(1px) solid #88431c;
    font-size: vw(14px);

    @media (max-width: 767px) {
        font-size: 12px;
        height: 45px;
        border-radius: 6px;
        padding-left: 10px;
        border: 1px solid #88431c;
    }

    @mixin placeholderInputStyles {
        color: #44464880;
    }

    &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        @include placeholderInputStyles;
    }

    &::-moz-placeholder {
        /* Firefox 19+ */
        @include placeholderInputStyles;
    }

    &:-ms-input-placeholder {
        /* IE 10+ */
        @include placeholderInputStyles;
    }

    &:-moz-placeholder {
        /* Firefox 18- */
        @include placeholderInputStyles;
    }
}
a {
    &.button-dk {
        &:hover {
            img {
                display: none;
                &.hover {
                    display: block;
                }
            }
        }
        img {
            &.hover {
                display: none;
            }
        }
    }
}
button {
    &.button-dk {
        padding: 0;
        background-image: url(../assets/images/icon-dk-v.png);
        border: none;
        height: vw(50px);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        &:disabled {
            cursor: no-drop;
        }
        &:hover {
            background-image: url(../assets/images/icon-dk-v-hover.png);
            img {
                display: none;
                &.hover {
                    display: block;
                }
            }
        }
        img {
            &.hover {
                display: none;
            }
        }
    }
}

.social {
    @include flexbox;
    @include align-items(center);
    position: fixed;
    z-index: 9;
    top: vw(190px);
    left: vw(50px);
    flex-direction: column;
    @media (max-width: 767px) {
        flex-direction: row;
        justify-content: center;
        width: 100%;
        left: 0;
        bottom: 0;
        top: auto;
        background: #0e1c41c4;
        padding: 10px 0;
        padding-left: 70px;
    }
    &-item {
        width: vw(62px);
        margin: vw(5px) 0;
        @media (max-width: 767px) {
            width: 50px;
            margin: 0 5px;
        }
        &:hover {
            img {
                display: none;
                &.hover {
                    display: block;
                }
            }
        }
    }
    img {
        &.hover {
            display: none;
        }
    }

    &-chat {
        @media (max-width: 767px) {
            order: 3;
        }
    }
    &-dangki {
        cursor: pointer;
        @media (max-width: 767px) {
            transform: rotate(90deg);
            height: 50px;
        }
    }
    &-fb {
    }
    &-phone {
        animation: swing 0.8s infinite;
    }
}

.header {
    @include transition(all 0.3s ease);
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;

    // padding-right: vw(320px);

    @media (max-width: 1310px) {
        padding-left: vw(360px);
        padding-right: vw(380px);
    }
    &.fixed {
        background: #ffffffde;
        box-shadow: -2px 4px 5px #0000001a;
        .header-container {
            @media (min-width: 1024px) {
                padding: 15px 0;
            }
        }

        .header-logo {
            width: 7.292vw;
            @media (max-width: 767px) {
                max-width: 100px;
                width: 100%;
            }
        }
        .header-logo-1 {
            width: 4vw;
            transform: translateY(vw(-7px));
            @media (max-width: 767px) {
                width: 60px;
            }
        }
        .header-logo-2 {
            width: 4vw;
            @media (max-width: 767px) {
                width: 70px;
            }
        }
    }

    @media (max-width: 767px) {
        top: 0;
    }

    &-container {
        @include flexbox;
        @include align-items(flex-start);
        // @include justify-content(space-between);
        @include flex-wrap(wrap);
        padding-left: vw(380px);
        width: 65.54vw;

        // width: 100%;
        padding: 1.2vw 0;
        margin-left: auto;
        margin-right: auto;
        transition: all 0.3s ease;

        @media (max-width: 767px) {
            padding: 15px;
            width: auto;
            justify-content: center;
            align-items: center;
            flex-wrap: unset;
        }
    }

    &-logo {
        &-1 {
            width: vw(120px);
            transition: all 0.2s ease;
            @media (max-width: 767px) {
                margin: 0 10px;
                width: 90px;
            }
        }
        &-2 {
            width: vw(100px);
            transition: all 0.2s ease;
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 1.1vw
            @media (max-width: 767px) {
                margin: 0 10px;
                width: 80px;
            }
        }
    }

    &-menu {
        @include flexbox;
        @include align-items(center);
        @include flex-wrap(wrap);
        margin-left: vw(50px);

        .btn {
            color: #fff;
            @media (max-width: 767px) {
                margin-right: 10px;
            }
        }
    }
    &-menu__nav {
        @include flexbox;
        @include flex-wrap(wrap);
        padding: 0;
        margin: 0;
        @include transition(all 0.2s ease);

        @media (max-width: 767px) {
            @include flexbox;
            @include flex-direction(column);
            @include align-items(flex-start);
            @include transition(all 0.2s ease);
            position: fixed;
            height: 100vh;
            background: #163571f0;
            top: 0;
            right: 0;
            margin: 0;
            opacity: 0;
            z-index: -1;
            padding-top: 70px;
            width: 0;
        }

        &.active {
            z-index: 9;
            opacity: 1;
            width: 55%;
            a {
                text-align: left;
                transition: all 0.2s ease;
                transform: translateX(0);
                color: #fff;
                &:nth-child(2) {
                    transition-delay: 0.1s;
                }

                &:nth-child(3) {
                    transition-delay: 0.2s;
                }

                &:nth-child(4) {
                    transition-delay: 0.3s;
                }

                &:nth-child(5) {
                    transition-delay: 0.4s;
                }

                &:nth-child(6) {
                    transition-delay: 0.5s;
                }

                &:nth-child(7) {
                    transition-delay: 0.6s;
                }

                &:nth-child(8) {
                    transition-delay: 0.7s;
                }

                &:nth-child(9) {
                    transition-delay: 0.8s;
                }
            }
        }

        a {
            @include flexbox;
            @include align-items(center);
            list-style: none;
            margin: 0 vw(10px);
            position: relative;
            color: #11426e;
            text-decoration: none;
            text-transform: uppercase;
            text-transform: uppercase;
            font-size: vw(13px);
            font-family: $UTMAvo;
            transition: all 0.2s ease;
            padding: vw(7px) vw(10px);

            @media (max-width: 767px) {
                margin: 7px 20px;
                font-size: 14px;
                padding: 7px 15px;
                @include transform(translateX(50%));
            }
            &:not(:last-child) {
                &::before,
                &::after {
                    position: absolute;
                    content: "";
                    transition: all 0.2s ease;
                    width: 0;
                    width: vw(12px);
                    height: vw(2px);
                    right: vw(-17px);
                }
            }

            &::before {
                background-color: #88431c;
                top: vw(15px);
            }
            &::after {
                background-color: #164775;
                top: vw(18px);
            }

            &.active,
            &:hover {
                font-family: $UTMAvo;
                background-color: #8e3900;
                color: #fff;
                border-radius: vw(6px);
                @media (max-width: 767px) {
                    border-radius: 10px;
                }
            }
        }

        .btn:hover {
            color: #fff;
        }
    }

    &-menu__mb {
        display: none;
        z-index: 1;
        cursor: pointer;

        @media (max-width: 767px) {
            @include flexbox;
            @include align-items(center);
            position: fixed;
            right: 20px;
        }

        &.active {
            @media (max-width: 767px) {
                z-index: 10;
            }
        }

        .lines {
            @include flexbox;
            @include flex-direction(column);

            @media (max-width: 767px) {
                margin-top: 0.2vw;
            }

            .line {
                background-color: #11426e;
                transition: all 0.2s ease;
                height: 0.104vw;
                width: 0.938vw;
                margin-bottom: 0.156vw;
                @media (max-width: 767px) {
                    height: 1px;
                    width: 18px;
                    margin-bottom: 2px;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &.active {
            .line {
                background-color: #fff;
            }
            .line_2 {
                display: none;
            }

            .line_3 {
                @include transform(rotate(-45deg) translateY(-0.156vw) translateX(0.052vw));
                // @include transform(rotate(-45deg) translateY(-3px) translateX(1px));
            }

            .line_1 {
                @include transform(rotate(45deg) translateY(0.104vw) translateX(0.052vw));

                // @include transform(rotate(45deg) translateY(2px) translateX(1px));
                @media (max-width: 767px) {
                    @include transform(rotate(45deg) translateY(1px) translateX(2px));
                }
            }
        }

        .text {
            padding-right: 0.417vw;
            font-size: 0.833vw;
            text-transform: uppercase;
            color: #fff;
            @media (max-width: 767px) {
                font-size: 13px;
            }
        }
    }
    &-social {
        position: absolute;
        right: 1.563vw;
        @extend .social;
        @media (max-width: 767px) {
            position: static;
            margin-right: 10px;
        }
    }
}

.img-style {
    position: relative;
    overflow: auto;
    display: block;
    background-image: url(../assets/images/img-style-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    padding: vw(5px) vw(5px) 0 0;
    border-radius: vw(85px) vw(85px) vw(85px) 0;
    background-attachment: fixed;
    &.left {
        padding: vw(5px) 0 0 vw(5px);
        border-radius: vw(85px) vw(85px) 0 vw(85px);
        &::before {
            transform: rotateY(180deg);
        }
        img {
            border-radius: vw(81px) vw(81px) 0 vw(81px);
        }
    }
    &.right {
    }
    img {
        position: relative;
        border-radius: vw(81px) vw(81px) vw(81px) 0;
        background-attachment: fixed;
    }
}

.button-dk {
    width: vw(176px);
    height: vw(53px);
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    @media (max-width: 767px) {
        width: 170px;
        height: 50px;
    }

    &:hover {
        img {
            display: none;
        }
        .hover {
            display: block;
        }
    }
    .hover {
        display: none;
    }
}

.modal {
    .close {
        position: absolute;
        opacity: 1 !important;
        right: vw(65px);
        top: 0;
        z-index: 2;
        @include flex_center;
        width: vw(100px);
        height: vw(100px);
        right: vw(60px);
        @media (max-width: 767px) {
            width: 65px;
            height: 65px;
            top: -30px;
        }
        &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: center center;
            background-image: url(../assets/images/block7-icon-top.png);
        }
        .icon {
            position: relative;
            line-height: 0.7;
            color: #fff;
            font-size: vw(70px);
            margin-bottom: vw(18px);
            @media (max-width: 767px) {
                font-size: 50px;
            }
        }
    }
}

.modal-dialog {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    @media (min-width: 767px) {
        max-width: vw(900px);
        margin: 1.75rem auto;
    }
}

.modal-content {
    background-color: transparent;
    border: none;
    border-radius: 0;
}

.popup {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #e5e9ee;
    border: vw(3px) solid #9f5e34;
    padding: vw(40px) vw(70px);
    padding-bottom: vw(20px);
    text-align: center;
    border-radius: vw(315px) vw(315px) vw(265px) 0;
    width: 100%;

    @media (max-width: 767px) {
        padding: 60px 30px;
    }
    &__form {
        @media (max-width: 767px) {
            height: 55vh;
            overflow-y: auto;
        }
        &::-webkit-scrollbar-track {
            background-color: #d1d0cf;
        }

        &::-webkit-scrollbar {
            width: 6px;
            background-color: #d1d0cf;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #555;
        }
        label {
            margin-bottom: vw(10px);
        }
    }
    &__form--wrap {
        margin-right: 15px;
    }
    &__logo {
        width: vw(220px);
        margin-bottom: vw(15px);
        margin-left: auto;
        margin-right: auto;

        @media (max-width: 767px) {
            width: 120px;
            margin-bottom: 15px;
        }
    }
    &__des {
        font-size: vw(16px);
        color: #9f5e34;
        @media (max-width: 767px) {
            font-size: 14px;
            margin-bottom: 20px;
        }
    }
    .button-dk {
        height: vw(50px);
        @media (max-width: 767px) {
            height: 45px;
        }
    }
}

.news {
    .close {
        right: vw(-50px);
        top: vw(-30px);
        @media (max-width: 767px) {
            top: -55px;
        }
    }
    .modal-body {
        padding: 0;
    }
    .modal-dialog {
        @media (min-width: 767px) {
            max-width: vw(810px);
            margin: 1.75rem auto;
            margin-top: 60px;
        }
    }
    .modal-content {
        background-color: #fff;
        border: none;
        border-radius: 0;
    }
    &__wrap {
        padding: vw(30px) 0 vw(50px) vw(50px);
        @media (max-width: 767px) {
            padding: 50px 0 30px 30px;
        }
    }
    &__title {
        font-family: $UTMAvoBold;
        font-size: vw(32px);
        margin-bottom: vw(20px);
        @media (max-width: 767px) {
            font-size: 25px;
            margin-bottom: 20px;
            margin-right: 30px;
        }
    }
    &__content {
        color: #18130d;
        height: 70vh;
        margin-right: vw(15px);
        overflow-y: auto;
        padding-right: vw(50px);
        @media (max-width: 767px) {
            height: 60vh;
            padding-right: 20px;
            margin-right: 10px;
        }

        &::-webkit-scrollbar-track {
            background-color: #d1d0cf;
        }

        &::-webkit-scrollbar {
            width: 6px;
            background-color: #d1d0cf;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #555;
        }
    }
}
